{% extends "base/iframeBase.html" %}

{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>SQL审核：</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                    	<form id="form-submitsql" action="/inception/autoreview/" method="post" class="form-horizontal" role="form">
                    	{% csrf_token %}
                    		<input type="hidden" id="workflowid" name="workflowid"/>
	                        <div class="col-sm-4 b-r">
								<div class="form-group">
									<label class="col-sm-3 control-label">工单名称：</label>
									<div class="col-sm-9">
										<input id="workflow_name" type="text" name="workflow_name" class="form-control" data-name="上线单名称" placeholder="工单名称：XXX项目-XXX功能-XXX修改XXX数据-项目JIRA号" required>
									</div>
								</div>
				
								<div class="form-group">
									<label class="col-sm-3 control-label">集群名称：</label>
									<div class="col-sm-9">
										<select id="cluster_name" name="cluster_name" class="selectpicker show-tick form-control bs-select-hidden" data-name="要上线的集群" data-placeholder="请选择要上线的集群:" required>
											<option value="is-empty" disabled="" selected="selected">请选择要上线的集群:</option>
											{% for cluster_name,dbs in dictAllClusterDb.items %}
												<option value="{{cluster_name}}">{{cluster_name}}集群(包含db： 
													{% for db in dbs %}
														{{db}}
														{% if not forloop.last %},
														{%endif%}
													{% endfor %} )
											</option>
											{% endfor %}
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label">是否要备份：</label>
									<div class="col-sm-9">								
										<select id="is_backup" name="is_backup" class="selectpicker show-tick form-control bs-select-hidden" data-name="是否选择备份" data-placeholder="请选择是否要备份:" required>
<!-- 											<option value="is-empty" disabled="">请选择是否要备份:</option> -->
											<option value="是" selected="selected">是</option>
											<option value="否">否</option>
										</select>
									</div>
								</div>									                       	

								<div class="form-group">
									<label class="col-sm-3 control-label">审核人：</label>
									<div class="col-sm-9">								
										<select id="review_man" name="review_man" class="selectpicker show-tick form-control bs-select-hidden" data-name="审核人" data-placeholder="请选择RD审核人:" required>
											<option value="is-empty" disabled="" selected="selected">请选择审核人:</option>
											{% for man in reviewMen %}
											<option value="{{man}}">{{man}}</option>
											{% endfor %}
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-3 control-label">副审核人：</label>
									<div class="col-sm-9">									
										<div class="panel-group" id="accordion">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> <i class="glyphicon-plusglyphicon"></i>
															增加副审核人（可选)
														</a>
													</h4>
												</div>
												<div id="collapseOne" class="panel-collapse collapse">
													<div class="panel-body" style="margin-left: 25px">
														{% for man in reviewMen %}
														<div class="radio" id="{{ man }}">
															<input type="radio" id="radio1" name="sub_review_man"
																value="{{ man }}" /> <label for="radio1"> {{ man }}
															</label>
														</div>
														{% endfor %}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

		                        <div class="hr-line-dashed"></div>
		                        <div class="form-group">
		                            <div class="col-sm-9 col-sm-offset-3">
					                    <input type="button" id="btn-autoreview" class="btn btn-warning" value="SQL检测" />
					                    <button type="reset" class="btn btn-white">清空选项</button>
					                    <input id="btn-submitsql" type="button" class="btn btn-primary" value="SQL提交" />
		                            </div>
		                        </div>								
	                            
	                        </div>
	                        
	                        <div class="col-sm-8">
	                            <h4>请输入要提交的SQL语句:</h4>
	                            <textarea rows="15" id="sql_content" name="sql_content" class="form-control" data-name="SQL内容" placeholder="请在此提交SQL，请以分号结尾。例如：&#10use test; &#10create table t1(id int)engine=innodb;&#10&#10注意:&#10DDL语句与DML语句必须分成不同的工单提交，否则不予执行（inception会报内部错误）！" required></textarea>
	                        </div>
                        </form>
                    </div>
                </div>
                
                <div class="ibox-content">
				 	<div id="inception-result" style="display: none;" class="row clearfix">
						<div id="inception-result-col" class="col-md-12"></div>
					</div>               
                </div>
            </div>
        </div>
    </div>	    
</div>
{% endblock content %}
