<!DOCTYPE html>
<html>
<head> 
	<title>DYCD DB SUPPORT</title>
    {% load staticfiles %}
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
    <link href="{% static 'hplus/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'user/css/user1.css' %}" rel="stylesheet">
	<link href="{% static 'hplus/css/bootstrap-select.css' %}" rel="stylesheet">
	<link href="{% static 'hplus/css/font-awesome.min93e3.css' %}" rel="stylesheet">
	<link href="{% static 'hplus/css/animate.min.css' %}" rel="stylesheet">
	<link href="{% static 'hplus/css/style.min862f.css' %}" rel="stylesheet">

      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
	
</head>
<body>

<div class="container-fluid">

{% block content %}
{% endblock content %}

<!-- 模态框（Modal） -->
<div class="modal fade" id="wrongpwd-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					提示
				</h4>
			</div>
			<div class="modal-body" id="wrongpwd-modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">确定
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

</div>
	<script src="{% static 'hplus/js/jquery.min.js' %}"></script>
	<script src="{% static 'hplus/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'hplus/js/bootstrap-select.js' %}"></script>
	<script src="{% static 'hplus/js/plugins/layer/layer.js' %}"></script>
	<script src="{% static 'inception/js/detail.js' %}"></script>
	<script src="{% static 'inception/js/rollback.js' %}"></script>
	<script src="{% static 'inception/js/autoreview.js' %}"></script>
	<script src="{% static 'inception/js/submitsql.js' %}"></script>
	<script src="{% static 'inception/js/highcharts.js' %}"></script>
	<script src="{% static 'inception/js/charts.js' %}"></script>
 
</body>

</html>
