<!DOCTYPE html>
<html>
<head> 
	<title>DYCD DB SUPPORT</title>
    {% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link href="{% static 'hplus/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'user/css/user1.css' %}" rel="stylesheet">
    <link href="{% static 'hplus/css/font-awesome.min93e3.css' %}" rel="stylesheet">
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->  
</head>
<body style="background-color:#edeff1;">

	<div id="head">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<ul class="nav navbar-nav navbar-left">
					<li>
						<div class="logo">
							<a href="/"><img src="{% static 'img/site-logo.png' %}" alt="第1车贷"/></a>
							<span class="desc">DB &middot;SUPPORT</span>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>

    <div class="login-div-center">
        {% csrf_token %}
        <form class="form-horizontal login-form"  role="form">
        <div class="auth-box auth-box-lg">
            <div class="header">
                <p class="title" ><strong>欢迎使用 DYCD DB SUPPORT！</strong></p>
            </div>

            <div class="inputarea">
                <div id="login-area-account" class="login-account">
                    <div class="inputbox">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <input type="text" placeholder="请输入用户名！" class="form-control" id="inputUsername" name="username" required> 
                        </div>
                        <span class="help-block m-b-none">请输入您的用户名（姓名全拼）！</span>
                    </div>

                    <div class="inputbox">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                            <input type="password" placeholder="请输入密码！" class="form-control" id="inputPassword" name="password" required />
                        </div>
                        <span class="help-block m-b-none">请输入您的密码！</span>
                    </div>

                </div>

                <div class="inputbox">
                    <button id="btnLogin" class="btn btn-primary btn-lg btn-block" type="button">登 录</button>
                </div>

            </div>
            <div>
                <p id="message" class="op_box" style="display:none;"></p>
            </div>
        </div>
        </form>
    </div>


	<!-- 模态框（Modal） -->
	<div class="modal fade" id="wrongpwd-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						提示
					</h4>
				</div>
				<div class="modal-body" id="wrongpwd-modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">确定
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>

	<!--底部部分 -->
	<div class="row clearfix user-bottom-div">
		<p><strong>DYCD.</strong>&nbsp; DB SUPPORT!</p>
	</div>

	<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery，务必先引入jquery js再引入bootstrap js) -->
	<script src="{% static 'hplus/js/jquery.min.js' %}"></script>
	<!-- 包括所有已编译的插件 -->
	<script src="{% static 'hplus/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'user/js/login.js' %}"></script>
	<script>
		// 解决session 失效后在iframe中打开登录页面
		if (window != top) {
			top.location.href = location.href; 
		}
	</script>  
</body>

</html>
